<section class="py-12 text-primary">
    <div class="container max-w-screen-lg prose">
        {% if page.image %}
        <figure class="w-full aspect-video shadow-md mb-12">
            <img
                class="w-full h-full object-cover object-center"
                src="{{page.image}}"
                alt="{{page.title}}"
            />
        </figure>
        {% endif %}
        <article class="flex flex-col">
            <h1 class="text-secondary">
                Title: {{page.title}}
            </h1>
            <div>
                <a href="{{page.link}}" target="_blank">
                    Live url: {{page.title}}
                </a>
                <p target="_blank">
                    <span class="font-semibold">
                        Made with: 
                    </span>
                    {{page.made_with}}
                </p>
            </div>
            <div class="projectContent">
                {{page.content|safe}}
            </div>
        </article>
    </div>
</section>