<section id="skills" class="relative text-gray-700 overflow-hidden lg:h-screen py-8 md:py-10">
    <div class="hidden lg:block absolute top-0 left-2/4 bottom-0 transform -translate-x-2/4 w-0.5 bg-purple-500 z-0"></div>

    <div class="h-full container flex flex-col lg:flex-row items-start justify-start gap-0 lg:gap-20">
        <div class="scrollable h-full w-full overflow-y-auto lg:w-6/12 flex flex-col items-end justify-center py-10">
            <img class="mx-auto lg:mr-0 w-full sm:w-6/12 shadow-md border border-purple-500" src="images/skills.png" alt="">
            <ul class="w-full mt-10 flex flex-wrap flex-row lg:flex-col items-center lg:items-end justify-center lg:justify-end gap-2 text-center md:text-right text-xl lg:text-3xl">
                <li>
                    <a href="#frontend" class="inline-block border-2 border-purple-500 hover:bg-purple-500 hover:text-white text-purple-500 py-1 px-3">
                        Frontend
                    </a>
                </li>
                <li>
                    <a href="#backend" class="inline-block border-2 border-purple-500 hover:bg-purple-500 hover:text-white text-purple-500 py-1 px-3">
                        Backend
                    </a>
                </li>
                <li>
                    <a href="#others" class="inline-block border-2 border-purple-500 hover:bg-purple-500 hover:text-white text-purple-500 py-1 px-3">
                        Others
                    </a>
                </li>
            </ul>
        </div>
        <div class="scrollable h-full w-full overflow-y-auto lg:w-6/12 divide-y divide-purple-500/20 py-10">
            <article id="frontend" class="pb-8 md:pb-10 space-y-4 max-w-lg">
                <h2 class="text-4xl text-purple-500">
                    Frontend
                </h2>
                <div class="space-y-3 text-base sm:text-lg lg:text-base xl:text-lg leading-normal sm:leading-normal lg:leading-normal xl:leading-normal">
                    <p>
                        Voluptate deserunt et occaecat nisi adipisicing consectetur. Pariatur minim amet mollit eu. Duis sit cillum enim qui quis sint deserunt dolor et pariatur occaecat. Occaecat aliqua do
                    </p>
                    <p>
                        Enim mollit aliqua tempor minim esse pariatur aliquip reprehenderit elit
                    </p>
                </div>
            </article>
            <article id="backend" class="py-8 md:py-10 space-y-4 max-w-lg">
                <h3 class="text-3xl text-purple-500">
                    Backend
                </h3>
                <div class="space-y-3 text-base sm:text-lg lg:text-base xl:text-lg leading-normal sm:leading-normal lg:leading-normal xl:leading-normal">
                    <p>
                        Voluptate deserunt et occaecat nisi adipisicing consectetur. Pariatur minim amet mollit eu. Duis sit cillum enim qui quis sint deserunt dolor et pariatur occaecat. Occaecat aliqua do
                    </p>
                    <p>
                        Enim mollit aliqua tempor minim esse pariatur aliquip reprehenderit elit
                    </p>
                    <p>
                        Aute duis mollit ullamco pariatur est et anim magna dolor pariatur labore quis proident et.
                    </p>
                </div>
            </article>
            <article id="others" class="py-8 md:py-10 space-y-4 max-w-lg">
                <h3 class="text-3xl text-purple-500">
                    Others
                </h3>
                <div class="space-y-3 text-base sm:text-lg lg:text-base xl:text-lg leading-normal sm:leading-normal lg:leading-normal xl:leading-normal">
                    <p>
                        Voluptate deserunt et occaecat nisi adipisicing consectetur. Pariatur minim amet mollit eu. Duis sit cillum enim qui quis sint deserunt dolor et pariatur occaecat. Occaecat aliqua do
                    </p>
                    <p>
                        Enim mollit aliqua tempor minim esse pariatur aliquip reprehenderit elit
                    </p>
                    <p>
                        Nulla et laboris Lorem irure est. Ipsum reprehenderit sint mollit sunt occaecat labore ullamco voluptate. Sunt Lorem exercitation cillum consequat excepteur cillum adipisicing esse.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>