<section id="welcome" class="lg:min-h-screen flex flex-col lg:flex-row md:items-streatch">
    <figure class="w-full lg:w-5/12 bg-primary-light">
        <img 
            class="h-full min-w-full object-cover duration-300 grayscale hover:grayscale-0"
            src="/assets/images/akash.jpeg" 
            alt="img"
        />
    </figure>
    <article class="colPaddingOne w-full lg:max-h-full lg:w-7/12 bg-primary flex flex-col items-start justify-center md:overflow-y-auto">
        {% if page.hero.subheading %}
        <p class="opacity-90 text-xl md:text-2xl lg:text-3xl font-roboto font-meidum mb-6">
            {{ page.hero.subheading }}
        </p>
        {% endif %}

        {% if page.hero.heading1 or page.hero.heading2 %}
        <h1 class="text-6xl md:text-7xl lg:text-8xl 2xl:text-9xl font-black font-antonio uppercase space-y-2 text-secondary">
            <span class="block">
                {{page.hero.heading1}}
            </span>
            <span class="block">
                {{page.hero.heading2}}
            </span>
        </h1>
        {% endif %}

        {% if page.hero.short_desc %}
        <p class="opacity-80 text-lg lg:text-xl xl:text-2xl font-roboto max-w-xl mt-10 leading-normal lg:leading-normal xl:leading-normal">
            {{page.hero.short_desc|safe}}
        </p>
        {% endif %}

        {% if page.hero.market_text %}
        <div class="mt-8 flex flex-wrap gap-y-1 md:gap-y-3 gap-x-3 md:gap-x-5 items-center text-lg lg:text-xl xl:text-2xl font-roboto">
            <p class="opacity-80">
                {{page.hero.market_text}}
            </p>
            <ul class="flex flex-wrap items-center gap-3 lg:gap-5">
                {% if site.data.info.fiverr.link %}
                <li>
                    <a href="{{site.data.info.fiverr.link}}" target="_blank" class="underline text-secondary hover:text-textColor">
                        Fiverr
                    </a>
                </li>
                {% endif %}

                {% if site.data.info.upwork.link %}
                <li>
                    <a href="{{site.data.info.upwork.link}}" target="_blank" class="underline text-secondary hover:text-textColor">
                        Upwork
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        {% if page.hero.button_text %}
        <a href="#skills" class="mt-12 flex items-center gap-3 text-sm lg:text-base border-2 border-textColor px-5 lg:px-8 py-2 lg:py-3 opacity-80 hover:bg-textColor hover:text-primary font-roboto uppercase">
            <span class="block">
                {{page.hero.button_text}}
            </span>
            <span class="block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
                </svg>                      
            </span>
        </a>
        {% endif %}
    </article>
</section>