<section
    id="skills"
    class="lg:min-h-screen flex flex-col lg:flex-row md:items-streatch"
>
    <div class="relative text-lg lg:text-xl xl:text-2xl font-roboto leading-normal lg:leading-normal xl:leading-normal text-textColor/80 w-full lg:w-5/12 bg-primary-light lg:bg-primary">
        <article class="colPaddingOne md:sticky md:top-0 lg:min-h-screen flex flex-col items-start justify-center gap-8">
            <a 
                class="hidden lg:block rounded-full absolute right-0 top-0 block w-14 lg:w-16 h-14 lg:h-16 border border-secondary/30 bg-primary hover:bg-secondary transform translate-x-2/4 -translate-y-2/4 hover:opacity-100" 
                href="#welcome" 
                area-label="button"
            ></a>
            <div class="relative p-5 sm:p-10 flex flex-col items-start justify-center gap-8">
                <span class="block absolute top-0 right-0 h-px w-24 lg:w-28 bg-secondary"></span>
                <span class="block absolute top-0 right-0 h-24 lg:h-28 w-px bg-secondary"></span>
                
                {% if page.skills.text1 %}
                <p class="textContent">
                    {{page.skills.text1|safe}}
                </p>
                {% endif %}

                <p class="textContent">
                    Check out my 
                    {% if site.data.info.fiverr.link %}
                    <a href="{{site.data.info.fiverr.link}}" target="_blank">fiverr</a>
                    {% endif %}
                    and
                    {% if site.data.info.upwork.link %}
                    <a href="{{site.data.info.upwork.link}}" target="_blank">upwork</a>
                    {% endif %}
                    profile.
                </p>

                {% if page.skills.text2 %}
                <p class="textContent">
                    {{page.skills.text2|safe}}
                </p>
                {% endif %}

                <span class="block absolute bottom-0 left-0 h-px w-24 lg:w-28 bg-secondary"></span>
                <span class="block absolute bottom-0 left-0 h-24 lg:h-28 w-px bg-secondary"></span>
            </div>
        </article>
    </div>
    <div class="colPaddingTwo flex flex-col justify-center w-full lg:w-7/12 bg-primary-light">
        {% if page.skills.skill_list %}
        <ul class="skillList lg:pl-8 xl:pl-12 max-w-full flex flex-col lg:items-start gap-5 text-base md:text-lg lg:text-xl">
            {% for item in page.skills.skill_list %}
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                {% if item.name %}
                <p class="text-secondary">
                    {{item.name}}
                </p>
                {% endif %}
                {% if item.list %}
                <p>
                    {{item.list}}
                </p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            NO SKILLS YET!
        </p>
        {% endif %}
    </div>
</section>