<section
    id="skills"
    class="lg:min-h-screen flex flex-col lg:flex-row md:items-streatch"
>
    <div class="relative text-lg lg:text-xl xl:text-2xl font-roboto leading-normal lg:leading-normal xl:leading-normal text-textColor/80 w-full lg:w-5/12 bg-primary-light lg:bg-primary">
        <article class="colPaddingOne md:sticky md:top-0 lg:min-h-screen flex flex-col items-start justify-center gap-8">
            <a 
                class="hidden lg:block rounded-full absolute right-0 top-0 block w-14 lg:w-16 h-14 lg:h-16 border border-secondary/30 bg-primary hover:bg-secondary transform translate-x-2/4 -translate-y-2/4 hover:opacity-100" 
                href="#welcome" 
                area-label="button"
            ></a>
            <div class="relative p-5 sm:p-10 flex flex-col items-start justify-center gap-8">
                <span class="block absolute top-0 right-0 h-px w-24 lg:w-28 bg-secondary"></span>
                <span class="block absolute top-0 right-0 h-24 lg:h-28 w-px bg-secondary"></span>
                
                <p class="textContent">
                    After leaving my regular job, I have been working as freelancer developer from 2020. 
                    I have <span>40+</span> fiverr review with <span>5 star</span> rating.
                </p>
                <p class="textContent">
                    Check out <a href="">fiverr profile</a>.
                </p>
                <p class="textContent">
                    Throughout my career I developed some awesome skills on frontend.
                </p>

                <span class="block absolute bottom-0 left-0 h-px w-24 lg:w-28 bg-secondary"></span>
                <span class="block absolute bottom-0 left-0 h-24 lg:h-28 w-px bg-secondary"></span>
            </div>
        </article>
    </div>
    <div class="colPaddingTwo flex flex-col justify-center w-full lg:w-7/12 bg-primary-light">
        <ul class="skillList lg:pl-8 xl:pl-12 max-w-full flex flex-col lg:items-start gap-5 text-base md:text-lg lg:text-xl">
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                <p class="text-secondary">
                    frontend:
                </p>
                <p>
                    html5,
                </p>
                <p>
                    css3,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
            </li>
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                <p class="text-secondary">
                    frontend:
                </p>
                <p>
                    html5,
                </p>
                <p>
                    css3,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
            </li>
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                <p class="text-secondary">
                    frontend:
                </p>
                <p>
                    html5,
                </p>
                <p>
                    css3,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
            </li>
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                <p class="text-secondary">
                    frontend:
                </p>
                <p>
                    html5,
                </p>
                <p>
                    css3,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
            </li>
            <li class="skillItem px-6 py-4 bg-primary flex flex-wrap items-start gap-y-1 gap-x-2 gap-x-3">
                <p class="text-secondary">
                    frontend:
                </p>
                <p>
                    html5,
                </p>
                <p>
                    css3,
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
                <p>
                    javascript,
                </p>
                <p>
                    scss,
                </p>
                <p>
                    sass,
                </p>
                <p>
                    bootsrap,
                </p>
                <p>
                    tailwind
                </p>
            </li>
        </ul>
    </div>
</section>